venv/
pytorch/
dataset2/
.vscode/
new.ipynb 
cluster_faces.ipynb
config.py
face_recognition.log
__pycache__/
encode_faces.py
cluster_faces.py
.streamlit/
p_rag
.env
encoding_faces.ipynb
cluster_faces.ipynb
Screenshot1.png
Screenshot2.png
encode_faces.ipynb
face_summaries/
*.dat
*.pickle
encode_faces_video.ipynb
QDRANT.IPYNB
QDRANT2.IPYNB
salad.py
salad2.py
C:/Greg-Galvin-Unique-Faces-and-Object-Identification/pytorch/
.qodo
Object_detection/model/yolov3.h5
Object_detection/model/yolov3.weights
shape_predictor_68_face_landmarks.dat